<template>
  <div>
    <h1>Welcome to our cinema!</h1>

    <seats-description></seats-description>

    <div v-for="(value, index) in sitsPerRow" :key="value.toString() +  index.toString() + Date.now()" class="flex justify-content-center">
      <div v-for="seat in value" :key="seat.toString() + Date.now()">
        <seat-component :row="sitsPerRow.length - index" :seat="seat" :id="(sitsPerRow.length - index).toString() + seat.toString()"/>
      </div>
    </div>

    <div>
      <h3>Number of seats: {{ numberOfSeats }}</h3>
      <div class="flex justify-content-center">
        <div v-for="seat in seats" :key="seat.id" class="ml-2 mr-2 flex">
          <p>Row {{ getSeatData(seat).row }} seat {{ getSeatData(seat).seat }}</p>
          <span class="delete-ticket-button ml-1 pt-1" @click="() => deleteTicket(seat)">x</span>
        </div>
      </div>
    </div>
    <Button label="Book" @click="openDialog" :disabled="isBookingDisabled"/>

    <EmailDialog :is-visible="isVisible" />
  </div>
</template>

<script>
import { ref, computed } from 'vue'
import { useStore } from 'vuex'
import Button from "primevue/button";
import SeatComponent from "@/components/Seat";
import SeatsDescription from "@/components/SeatsDescription";
import EmailDialog from "@/components/EmailDialog";

export default {
  name: "CinemaHall",
  components: { SeatComponent, SeatsDescription, EmailDialog, Button },
  setup() {
    const store = useStore()

    const sitsPerRow = [20, 20, 20, 20, 16, 16, 16, 16, 10, 10]
    const isVisible = ref(false)

    const numberOfSeats = computed(() => {
      return store.getters.getBookedSeats.length
    })

    const seats = computed(() => {
      return store.getters.getBookedSeats
    })

    const isBookingDisabled = computed(() => {
      return store.getters.getBookedSeats?.length === 0
    })

    const getSeatData = (id) => {
      return store.getters.getSeats.find(el => el.id === id)
    }

    const deleteTicket = (id) => {
      store.commit('EDIT_TICKET_BOOKING_STATE', id)
    }

    const openDialog = () => {
      isVisible.value = true
    }

    return { sitsPerRow, isVisible, numberOfSeats, seats, isBookingDisabled, getSeatData, openDialog, deleteTicket }
  }
}
</script>

<style scoped>
</style>