<template>
  <div>
    <h2>Thank you for booking!</h2>
    <router-link to="/">Go back</router-link>
  </div>
</template>

<script>
export default {
  name: "ThankYou"
}
</script>

<style scoped>

</style>