<template>
  <div>
    <Dialog v-model:visible="visible" modal :closable="false" :style="{ width: '50vw' }">
      <h3 class="text-center mb-5">Please enter yor email. We will send you a massage with booking info.</h3>
      <div class="flex flex-column align-items-center">
        <InputText type="text" v-model="email" class="mb-3" style="width: 400px"/>
        <Button label="Submit" @click="submitEmail"/>
      </div>
    </Dialog>
  </div>
</template>

<script>
import {computed, ref} from "vue";
import {useStore} from "vuex";
import { useRouter } from 'vue-router'
import Dialog from 'primevue/dialog';
import InputText from 'primevue/inputtext';
import Button from "primevue/button";

export default {
  name: "email-dialog-component",
  components: { Dialog, InputText, Button },
  props: ['isVisible'],
  setup(props) {
    const store = useStore()
    const router = useRouter()

    const email = ref('')

    const visible = computed(() => {
      return props.isVisible
    })

    const submitEmail = () => {
      store.commit('BOOK_TICKETS')
      router.push({ name: 'thank-you' })
    }

    return { email, visible, submitEmail }
  }
}
</script>

<style scoped >
</style>