<template>
  <div :class="['seat ', (isBooked ?  'booked-seat ' : isOccupied ? 'occupied-seat' : 'basic-seat')]"
       v-tooltip.top="'Row ' + row + ', seat ' + seat"
       @click="selectSeat"
  ></div>
</template>

<script>
import { computed } from "vue";
import { useStore } from 'vuex'

export default {
  name: "seat-component",
  props: ['row', 'seat', 'id'],
  setup(props) {
    const store = useStore()

    const isBooked = computed(() => {
      return store.getters.getSeats.find(el => el.id === props.id)?.isBooked || false
    })

    const isOccupied = computed(() => {
      return store.getters.getSeats.find(el => el.id === props.id)?.isOccupied || false
    })

    const selectSeat = () => {
      if(isOccupied.value) return
      store.commit('EDIT_TICKET_BOOKING_STATE', props.id)
    }

    return { isBooked, isOccupied, selectSeat }
  }
}
</script>

<style scoped >
</style>