<template>
  <div class="flex justify-content-center mb-4">
    <div v-for="el in data" :key="el.title">
      <div class="flex justify-content-center align-items-center mr-4">
        <div :class="['mr-2', el.classes]"></div>
        <p>{{ el.title }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "seats-description",
  setup() {
    let data = [
      {
        title: 'Free',
        classes: 'seat'
      },
      {
        title: 'Occupied',
        classes: 'seat occupied-seat'
      },
      {
        title: 'Yours seats',
        classes: 'seat booked-seat'
      },
    ]
    return {data}
  }
}
</script>

<style scoped>

</style>