#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 30px;
}

.seat {
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 2px;
    margin: 5px;
}

.basic-seat {
    &:hover {
        background-color: #aefadb;
        cursor: pointer;
    }
}

.occupied-seat {
    background-color: #707770;
}

.booked-seat {
    background-color: #ecb500;
}

.delete-ticket-button {
    color: red;
    cursor: pointer;
    font-size: 17px;
}