<template>
  <router-view/>
</template>

<script>
import {onMounted} from "vue";
import {useStore} from "vuex";

export default {
  name: 'App',
  setup() {
    onMounted(() => {
      const store = useStore()

      // seats generation, bad but fast decision
      const seats = []
      const sitsPerRow = [20, 20, 20, 20, 16, 16, 16, 16, 10, 10]

      sitsPerRow.forEach((value, index) => {
        for(let seat = 1; seat <= value; seat++) {
          seats.push({id: (sitsPerRow.length - index).toString() + seat.toString(), row: sitsPerRow.length - index, seat: seat, isBooked: false, isOccupied: false})
        }
      });
      store.commit('ADD_SEATS', seats)
    })
  }
}
</script>

<style lang="scss">
@import "assets/style";
</style>
